lavalink:
  server:
    port: ${PORT}
    address: 0.0.0.0

    filters: {}   # <= 必須是 map，不能用 true/false

    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
